<% if params[:char_name] %>
  <h3>Farewell <%= params['char_name'] %> you will be missed</h3>
  <h4>Any items equipped have been returned to unassigned</h4>
<% end %>

<a href="/character/new">Add new adventurer</a>

<h2>Character List</h2>

<% @characters.each do |character| %>
  <% if character.id > 0 %>
    <p><a href="/character/<%= character.id %>"><%= character.char_name %></a></p>
  <% end %>
<% end %>

<hr />

<% if @characters.length < 3 %>
  <p>Only a few adventurers in database, maybe go make some?</p>
  <p>Or use the super secret beta <a href="/generator">random character generator!</a> (now with potentially no duplicate name guarantee)</p>
<% end %>


