<p>Adventurer <%= @character.char_name %> has been updated and is ready for adventure! (I hope) </p>

<a href="/character/<%= @character.id %>">View Character</a>
<a href="/character">Full Character List</a>
<a href="/">Index</a>
