<% if params['char_name'] %>
  <h3>Item '<%= params['item_name'] %>' has been deleted from <%= params['char_name'] %>
    <% if params['char_name'] != 'Unassigned' %>, best hope they didn't need it</h3>
  <% end %>
<% end %>

<h2>Full Item List</h2>

<% @items.each do |item| %>
<p><a href="/item/<%= item.id %>"><%= item.item_name %></a></p>
<% end %>

<hr />

<% if @items.length == 0 %>
  <p>No items in database, maybe go make one?</p>
<% end %>

<a href="/item/new">Add New Item</a>
<a href="/">Index</a>
