<p>Item <%= @item.item_name %> has been updated is back to full durablity (not that we have durability!) </p>

<a href="/item/<%= @item.id %>">View Item</a>
<a href="/item">Full Item List</a>
<a href="/">Index</a>
