<h1>Welcome to the Inventory Manager</h1>


<h3>There are currently <a href="/character"><%= @characters.count - 1%></a> characters in the database</h3>

<h3>There are currently <a href="/item"><%= @items.count %></a> items in the database</h3>
