<% if @deleted == true %>
<h1>Long live the mighty race of <%= @race.race %>, oh wait no, you purged them, genocide much?</h1>

<h2>Characters listed below have been assigned a random race</h2>
  <% @chars.each do |char| %>
    <p><%= char.char_name %></p>
  <% end %>

<% end %>

<% if @deleted == false %>
<h1>At least one race must excist, please go make another of your choice before deleting this one</h1>

<a href="/race/new">Make a New Race</a>

<% end %>


<a href="/race">Full Race List</a>

<a href="/">Index</a>
