<h2>Full Race List</h2>

<% @races.each do |race| %>
  <% if race.id > 0 %>
    <p>
      Race: <%= race.race %>
      <form action="/race/<%= race.id %>/edit">
        <button type="submit">Edit Race</button>
      </form>

      <form action="/race/<%= race.id %>/delete">
        <button type="submit">Delete Race</button>
      </form></p>
  <% end %>
<% end %>

<hr />

<a href="/race/new">Add new race</a>
<a href="/">Index</a>
