<h2>Full Role List</h2>

<% @roles.each do |role| %>
  <% if role.id > 0 %>
    <p>
      Role: <%= role.role %>
      <form action="/role/<%= role.id %>/edit">
        <button type="submit">Edit Role</button>
      </form>

      <form action="/role/<%= role.id %>/delete">
        <button type="submit">Delete Role</button>
      </form></p>
  <% end %>
<% end %>

<hr />

<a href="/role/new">Add new role</a>
<a href="/">Index</a>
