<section class="flex-container">
<header class="flex-item mini-header"><h2>Races</h2></header>

<% @races.each do |race| %>
  <% if race.id > 0 %>
  <aside class="flex-item mini-main">
    <%= race.race %>
    <form action="/race/<%= race.id %>/edit">
      <button type="submit">Edit Race</button>
    </form>
     <form action="/race/<%= race.id %>/delete">
      <button type="submit">Delete Race</button>
    </form>
   </aside>
  <% end %>
<% end %>

<footer class="flex-item footer"><a href="/race/new">Add new race</a></footer>
</section>
