<h3><em>BETA</em> will probably break</h3>

<p></p>

<form method="post" action="/generator">
  <label for="req_chars">How many characters would you like to generate?</label>
  <p>
  <input type="number" name="req_chars" id="req_chars" min=0 REQUIRED/>
    <p>
  <input type="submit" value="Create Character(s)">
</form>
